@import "../../app/variables";

.loader {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  &.small {
    .spinner {
      height: 60px;
      padding-top: 10px;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  &.tiny {
    .spinner {
      height: 40px;
      padding-top: 10px;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  .wrapper {
    flex: 1 100%;
  }

  .spinner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 100%;
    height: 120px;

    svg {
      width: 100px;
      height: 100px;

      use {
        fill: #5394f5;
      }
    }
  }

  &.minimalistic {
    height: auto;

    .spinner {
      height: auto;
    }
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 100%;

    > span {
      color: $color-grey;
    }
  }
}

.withHoverLoader {
  position: relative;

  .hover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 200;
    background: rgba(255, 255, 255, 0.5);
  }
}
