@import "./../../app/mixins.scss";

.recentSearch {
  position: relative;
}

.iconSearch {
  width: 20px;
  height: 21px;
  position: absolute;
  top: 8px;
  left: 9px;
  pointer-events: none;
  fill: $color-grey;
}

.search {
  height: 36px;
  min-width: 300px;
  width: 100%;
  border: 1px solid $color-filter-border;
  border-radius: 4px;
  background: transparent;
  padding: 6px 12px 6px 35px;
  transition: all $transition-delay;
  color: $color-grey;
  font-size: 14px;

  &:focus {
    background: $color-white;

    @include primary-color-box-shadow-inset();
  }
}

.dropdown {
  $sizeArrow: 5px;

  position: absolute;
  margin-top: 5px;
  left: 0;
  width: 100%;
  height: 245px;
  border: 2px solid transparent;
  background: $color-white;
  box-shadow: $dropdown-shadow;
  border-radius: 2px;
  padding: 8px;
  display: none;

  @include primary-border-color();

  &:before,
  &:after {
    content: '';
    position: absolute;
  }

  &:before {
    right: 40px;
    top: -3px;
    width: $sizeArrow;
    height: $sizeArrow;
    transform: rotate(45deg);
    background: $color-white;

    @include primary-color-box-shadow();
  }

  &:after {
    height: $sizeArrow+2;
    top: 0;
    width: 15px;
    right: 35px;
    background: $color-white;
  }

  &.open {
    display: block;
  }
}

.caption {
  color: $color-blue-dark;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;

  .iconCaption {
    width: 25px;
    height: 26px;
    margin-right: 5px;
  }
}

.searchList {
  $color-border: #c6cacc;

  list-style: none;
  margin: 8px 0 0;
  padding: 0;
  max-height: 190px;
  overflow-x: hidden;
  overflow-y: auto;

  .item {
    border-top: 1px solid $color-border;
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
    padding: 9px 5px;
    cursor: pointer;
    transition: all $transition-delay;
    color: $color-grey-1;
    font-size: 12px;
    line-height: 18px;

    &:last-child {
      border-bottom: 1px solid $color-border;
    }

    &:hover {
      background-color: rgba(104, 114, 127, 0.1);
    }
  }
}
