@import '~app/variables';

.root {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-dirty-white;
  text-align: center;
}

.inner {
  width: 400px;
}

.logo {
  max-height: 168px;
  max-width: 400px;
}

.formContainer {
  margin-top: 65px;
}

.label,
.input {
  display: block;
  width: 100%;
  font-size: 16px;
}

.label {
  text-align: left;
  line-height: 18px;
  color: $color-blue-dark;
}

.input {
  height: 50px;
  margin-top: 20px;
  padding: 6px;
  border: 1px solid $color-filter-border;
  border-radius: 4px;
  background-color: $color-white;
}

.btn {
  margin-top: 45px;
  padding: 14px 80px;
}

.copyright {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  font-size: 12px;
  line-height: 18px;
  color: $color-grey-1;
}
