@import "~app/mixins";

.modalWrapper {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: -13px;
  padding-bottom: 15px;
}

.headerTitle {
  color: $color-blue-dark;
  font-size: 16px;
  line-height: 18px;
  padding-top: 10px;
  padding-right: 20px;

  @include text-overflow;
}

.buttons {
  text-align: center;
  margin-bottom: 10px;

  button {
    margin: 0 8px;
    width: 150px;
  }
}

.container {
  height: calc(100% - 65px);
  overflow: hidden;
}

.galleryContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.gallery {
  height: calc(100% - 55px);
  margin-top: 0;
  margin-bottom: 0;
}
