@import '~app/mixins';

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 50px;
  align-items: stretch;
}

.leftSide {
  flex-basis: $left-side-width;
  flex-shrink: 0;
  border-right: 1px solid #c2c5c9;

  .footer {
    padding: 10px;

    button {
      width: 100%;
    }
  }
}

.rightSide {
  width: calc(100% - #{$left-side-width});
  display: flex;
  flex-direction: column;
}

.dashboard {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  height: calc(100% - 118px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.properties {
  background-color: $color-white;
  box-shadow: -1px 0 4px 0 rgba(0, 0, 0, 0.37);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100%;
  flex: 1;

  .header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 7px 11px 24px;
    font-size: 12px;
    line-height: 14px;
    color: $color-grey;
    border-bottom: 1px solid $color-border; // todo remove on static header in table ready
    z-index: 2; // todo remove on static header in table ready
    background: #fff;

    &Caption {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    &Controls {
      display: flex;
      align-items: center;
    }
  }

  .body {
    flex: 1;
    overflow-y: auto;
    margin-top: -1px; // todo remove on static header in table ready
  }

  .title {
    font-size: 16px;
    line-height: 18px;
    color: $color-blue-dark;
    font-weight: normal;
  }

  .selected {
    padding-left: 12px;
    padding-right: 12px;
  }

  .viewMap {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    color: $color-blue-darkest;
    cursor: pointer;

    &Icon {
      $size: 23px;

      width: $size;
      height: $size;
      margin-right: 11px;
    }
  }

  .btn {
    min-width: 102px;
    margin-left: 12px;
    line-height: 1;
    font-weight: 400;

    &.red {
      border-color: $color-red;
      color: $color-red;
    }
  }
}

.alerts {
  height: 118px;
  width: 100%;
  border-bottom: 1px solid $color-border;
  background-color: $color-dirty-white;
  padding: 19px 12px;
  display: flex;
  align-items: stretch;

  a.col,
  .col {
    margin: 0 13px;
    width: 270px;
    border: 1px solid $color-border;
    border-radius: 6px;
    background-color: $color-white;
    padding: 16px 7px 12px;
    display: flex;
    align-items: stretch;
    position: relative;

    &:hover,
    &:focus {
      text-decoration: none;
      border-color: $color-blue-light;
    }

    svg {
      align-self: flex-start;
      position: absolute;
      left: 7px;
      top: 7px;
    }

    .text {
      flex: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-decoration: none;
    }

    .iconHome {
      $size: 34px;

      width: $size;
      height: $size;
      fill: $color-grey;
      text-decoration: none;
    }

    .iconPlus {
      $size: 25px;

      width: $size;
      height: $size;
      fill: $color-grey;
      text-decoration: none;
    }

    .iconImportant {
      width: 16px;
      height: 25px;
      fill: $color-grey;
      text-decoration: none;
    }

    .iconHammer {
      $size: 36px;

      top: 4px;
      width: $size;
      height: $size;
      fill: $color-grey;
      text-decoration: none;
    }

    .name {
      color: $color-grey-light;
      font-size: 13px;
      text-align: center;
      text-decoration: none;
    }

    .value {
      color: $color-grey;
      font-size: 28px;
      line-height: 28px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
    }
  }

  .col.colActive {
    background-color: $color-light-blue;
  }
}

.map {
  .header {
    display: flex;
    justify-content: space-between;
    margin-top: -15px;
    padding-bottom: 15px;
    height: 50px;
  }

  .headerTitle {
    color: $color-blue-dark;
    font-size: 16px;
    line-height: 18px;
    padding-top: 10px;

    @include text-overflow;
  }

  .buttons {
    margin-right: 25px;
    display: flex;
    align-items: center;

    button {
      margin: 0 10px;
      font-weight: bold;
      font-size: 14px;
    }

    .buttonExport {
      background: none;
      border: none;
      padding: 0;
      margin: 0 15px;

      &:hover {
        opacity: 0.8;
      }
    }

    .iconExport {
      width: 26px;
      height: 24px;
    }
  }

  .modalBody {
    margin-left: -15px;
    margin-right: 15px;
    width: calc(100% + 30px);
    height: calc(100vh - 300px);
  }

  .rowPanels {
    display: flex;
    flex-wrap: nowrap;

    > div {
      margin: 0 2px;
    }
  }
}
