@import "./../../app/mixins.scss";

.allSearches {
  position: relative;
  height: 64px;
  width: 116px;
  border-radius: 4px;
  background: #f4f4f4;
  border: 1px solid #b7b7b7;
  box-shadow: 0 1px 4px 0 rgba(141, 141, 141, 0.5);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: all $transition-delay;

  &.active,
  &:hover {
    background: $color-light-blue;

    @include primary-color-box-shadow('1px');
  }

  &[disabled] {
    pointer-events: none;
    background: $color-grey-lighter;
  }
}

.icon {
  width: 21px;
  height: 25px;
  margin: 5px auto 0;
}

.label {
  color: #6b7581;
  font-size: 12px;
  line-height: 14px;
}
