@import "./../../app/variables.scss";

.root {
  display: inline-block;
  vertical-align: top;
  padding: 15px;
}

.caption {
  font-size: 12px;
  line-height: 14px;
  color: $color-blue-darkest;
}

.imgContainer {
  margin-top: 10px;
  overflow: hidden;
}

.img {
  display: block;
  max-width: 100%;
}
