@import '~app/mixins';

.square {
  .spinner {
    width: 50%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: #fff;
  }
}

.button {
  $size: 110px;

  height: $size;
  width: $size;
  cursor: pointer;
  transition: all $transition-delay;
  border: none;
  margin: 0;
  padding: 35px 0;
  text-align: center;
  display: inline-block;
  border-radius: 0;

  @include primary-background-color();

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    @include primary-background-color-dark();
  }

  &.loading {
    position: relative;

    .icon {
      visibility: hidden;
    }
  }
}

.icon {
  $size: 40px;

  height: $size;
  width: $size;
}

.caption {
  color: $color-grey;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  margin-top: 10px;
}
