@import "../../app/mixins";

.toast {
  height: 50px;
  width: 100%;
  max-width: 460px;
  border: 2px solid transparent;
  background-color: $color-white;
  box-shadow: $dropdown-shadow;
  margin: 0 auto;
  display: none;

  @include primary-border-color();
}

.visible {
  display: block;
}

.center {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.message {
  padding: 0 20px;
  color: $color-grey;
  font-size: 14px;
  line-height: 21px;

  @include text-overflow;
}
