@import '~app/mixins';

.panel {
  padding: 15px 25px;
  background: $color-white;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(140, 140, 140, 0.5);

  .panel {
    box-shadow: none;
    padding: 0 0 0 10px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
  padding-bottom: 15px;
  height: 50px;

  .headerTitle {
    color: $color-blue-dark;
    font-size: 16px;
    line-height: 18px;
    padding-top: 10px;

    @include text-overflow;
  }

  .buttons {
    margin-right: 25px;
    display: flex;
    align-items: center;

    button {
      margin: 0 10px;
      font-weight: bold;
      font-size: 14px;
      width: 115px;
    }

    .buttonExport {
      background: none;
      border: none;
      padding: 0;
      margin: 0 15px;

      &:hover {
        opacity: 0.8;
      }
    }

    .iconExport {
      width: 26px;
      height: 24px;
    }
  }
}

.modalBody {
  margin-left: -15px;
  margin-right: 15px;
  width: calc(100% + 30px);
}

.rowPanels {
  display: flex;
  flex-wrap: nowrap;

  > div {
    margin: 0 2px;
    flex: 0 0 auto;
  }
}

.label {
  color: $color-blue-dark;
  font-size: 12px;
  white-space: nowrap;
}

.propertyInfo {
  display: flex;
  color: $color-grey;

  .items {
    .item {
      display: flex;
      flex-wrap: nowrap;

      .value {
        font-size: 12px;
        white-space: nowrap;
      }
    }
  }

  .left {
    .image {
      position: relative;
      width: 160px;

      img {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 4px;
      }

      .circle {
        right: 5px;
        background: $color-white;
        top: 5px;
        width: 30px;
        position: absolute;
        border-radius: 50%;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        pointer-events: none;

        @include primary-color();
      }
    }

    .items {
      margin: 20px 0;
      display: flex;

      .item {
        padding: 0 5px;
        text-align: center;
        flex-direction: column-reverse;

        + .item {
          border-left: 2px solid #d6d6d6;
        }
      }
    }
  }

  .right.items {
    padding-left: 10px;
    width: 100%;
    overflow-x: hidden;

    .item {
      margin-bottom: 5px;
      line-height: 26px;
      overflow: hidden;
      align-items: center;

      .label {
        width: 95px;
        line-height: 24px;
      }

      .value {
        flex: 1;
        line-height: 18px;

        @include text-overflow;
      }
    }
  }
}

.valueSection {
  .label {
    width: 95px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .values {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .value {
      width: 85px;
      text-align: center;

      .name {
        margin-top: 5px;
        margin-bottom: 6px;
        color: $color-grey-light;
        font-size: 12px;
        white-space: nowrap;
      }

      .date {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 4px;
        font-size: 10px;
        line-height: 12px;
        color: $color-grey-light;
      }
    }
  }

  .graph > div {
    padding: 0;
    margin-top: 4px;
  }
}

.tabs {
  margin-top: 40px;

  .page {
    $offset: 10px;

    margin-bottom: 3px;
    width: 100%;

    .row {
      display: flex;
      flex-wrap: wrap;
      margin-left: -$offset;
      margin-right: -$offset;
      margin-bottom: 20px;
    }

    .cell {
      flex: 0 1 20%;
      padding-left: $offset;
      padding-right: $offset;

      &.single {
        flex: 0 1 100%;
      }
    }

    .heading {
      color: $color-grey;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
    }
  }
}

.trendTable {
  .minus {
    color: #cc0d00;
  }

  .plus {
    color: #87d600;
  }
}

.tax .trendTable {
  margin: 30px 0 20px;
  width: 50%;
}

.comps {
  .searchItems {
    $offset: 4px;

    display: flex;
    margin: -$offset 0 20px;

    > a,
    > div {
      margin: 0 $offset;
      width: 116px;
    }

    button {
      width: 100%;
    }
  }

  .title {
    color: $color-blue-dark;
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 5px;
  }

  .content {
    display: flex;
    flex-wrap: nowrap;
  }

  .left,
  .right {
    position: relative;
  }

  .left,
  .leftSearch {
    width: 45%;
  }

  .right,
  .rightSearch {
    width: 55%;
  }

  .right {
    padding: 0 0 0 15px;

    .fix {
      // 30px is 2 padding by 15px
      width: calc(100% - 30px);
    }
  }

  .range {
    display: flex;
    align-items: center;
    width: 190px;

    .divider {
      color: $color-grey-1;
      font-size: 12px;
      line-height: 18px;
      padding: 0 10px;
    }
  }

  .flexRow {
    display: flex;
    justify-content: space-between;
  }

  .justifyContent {
    display: flex;
    justify-content: space-between;
  }

  .flexRow,
  .range {
    $width: 80px;

    input[type="text"] {
      width: $width;
      border-color: $color-blue-darkest;
      color: $color-grey-1;

      @include placeholder($color-grey-1);

      &.dateInput {
        width: 105px;
      }
    }

    label {
      white-space: nowrap;
      width: $width;
    }
  }

  .radioGroup {
    width: 230px;
  }

  .mapWrap {
    width: 100%;
    height: 405px;
    border: 1px solid $color-grey;
    position: relative;
  }

  .button {
    font-weight: normal;
  }

  .tableComparableProperties {
    margin-top: 10px;
    overflow-x: hidden;
  }

  .tableComparablePropertiesExtraSpace {
    margin-top: 16px;
  }

  .buttonsExpanded {
    text-align: center;
    padding: 15px 0;
  }

  .buttonExpanded {
    margin: 0 5px;
  }

  .contentWrapper {
    height: calc(100vh - 570px);
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 1px;
    position: relative;
  }

  .fix {
    width: 100%;
    position: absolute;
  }
}
