@import "./../../app/variables.scss";

$color-grey: #b3b8bf;

.togglePropertiesView {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
}

.item,
.icon use {
  transition: all $transition-delay;
}

.icon use {
  fill: $color-grey;
}

.item {
  cursor: pointer;
  width: 67px;
  color: $color-grey;

  &.active,
  &:hover {
    color: $color-blue-light;
  }

  &:hover .icon use,
  &.active .icon use {
    fill: $color-blue-light;
  }
}

.iconPic {
  width: 24px;
  height: 18px;
}

.iconList {
  width: 30px;
  height: 17px;
}

.label {
  font-size: 12px;
  line-height: 14px;
}
