@import '~app/variables';

$size: 18px;

.opacity {
  display: none;
  left: 0;
  top: 45px;
  position: absolute;
  width: 100%;
}

.buttonOpacity {
  background: $color-white;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: all $transition-delay;
  width: $size + 10;
  height: $size + 10;
  position: absolute;

  &.active:not([disabled]),
  &:hover:not([disabled]) {
    background: lighten($color-grey, 50%);
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  &.out {
    left: 0;
  }

  &.in {
    right: 0;
  }
}

.iconOut,
.iconIn {
  width: $size;
  height: $size;
}
