@import '~app/variables';

.dropdown {
  position: relative;
  width: 100%;
}

.iconCaretDown {
  width: 14px;
  height: 9px;
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translateY(-50%);
  pointer-events: none;
}

.control {
  height: 26px;
  width: 100%;
  border: 1px solid $color-grey;
  color: #9d9d9d;
  border-radius: 4px;
  background: $color-white;
  padding: 4px 26px 4px 6px;
  outline: 0;
  font-size: 12px;
  line-height: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;

  &::-ms-expand {
    display: none;
  }
}
