@import '~app/mixins';

.iconPicture {
  height: 18px;
  width: 24px;

  use {
    @include primary-fill-color();
  }
}

.selectPhoto {
  padding: 5px 0;
  color: #6b7581;
  font-size: 11px;
  font-style: italic;
  text-align: center;
}

