.root {
  position: relative;

  :global {
    .react-datepicker__input-container {
      display: block;
    }
  }
}

.icon {
  $size: 18px;

  position: absolute;
  top: 50%;
  right: 12px;
  height: $size;
  width: $size;
  margin-top: -($size/2);
  pointer-events: none;
  fill: #333;
}

:global {
  .react-datepicker__year-dropdown-container--select,
  .react-datepicker__month-dropdown-container--select,
  .react-datepicker__year-dropdown-container--scroll,
  .react-datepicker__month-dropdown-container--scroll {
    margin-top: 5px;
  }

  .react-datepicker__year-read-view--down-arrow,
  .react-datepicker__month-read-view--down-arrow {
    margin-left: 30px;
    top: 5px;
  }
}
