@import '~app/variables';

.palette {
  margin-top: 10px;

  .paletteRow {
    display: flex;
    flex-wrap: nowrap;
  }

  .paletteItem {
    height: 20px;
    width: 40px;
  }

  .labels {
    margin-top: 5px;
    color: $color-grey-light;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    justify-content: space-between;
  }
}
