@import '~app/mixins';

.dropdownAnalytics {
  position: absolute;
  right: 15px;
  top: 10px;
}

.dropdownButton {
  background: $color-white;
  border: 1px solid $color-filter-border;
  width: 110px;
  height: 28px;
  padding: 5px;
  display: flex;
  align-items: center;
  transition: all $transition-delay;
  border-radius: 100px;
  cursor: pointer;

  &.active:not([disabled]),
  &:hover:not([disabled]) {
    background: $color-light-blue;

    @include primary-border-color();
  }

  &[disabled] {
    background: lighten($color-grey, 45%);
    pointer-events: none;
  }
}

.analyticsText {
  color: $color-grey;
  font-size: 12px;
  line-height: 14px;
  padding: 0 3px;
}

.iconCaretDown {
  width: 14px;
  height: 8px;
  position: absolute;
  top: 11px;
  right: 7px;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 20px;
  max-height: 245px;
  width: 300px;
  border: 1px solid $color-grey;
  opacity: 0.85;
  border-radius: 4px;
  background-color: $color-white;
  cursor: default;
  padding: 0 10px 10px;
  display: none;

  &.open {
    display: block;
  }
}
