@import '~app/variables';

.listItem {
  padding: 2px 5px;
  margin: 0 -5px;

  &.active {
    background: #e8f7f1;
  }

  label span {
    color: $color-blue-dark !important;
    font-size: 16px !important;
    line-height: 18px;
  }
}

.dropdownPrice {
  margin: 12px auto 0;
  width: 155px;
  position: relative;
  user-select: none;
}

.dropdownButton {
  cursor: pointer;
}

.priceText {
  color: $color-blue-dark;
  font-size: 16px;
  line-height: 18px;
}

.iconCaret {
  border: 5px solid transparent;
  border-top: 5px solid $color-grey;
  position: absolute;
  top: 5px;
  right: 0;
}

.dropdown {
  position: absolute;
  left: -65px;
  top: 25px;
  width: 285px;
  border: 1px solid $color-grey;
  background-color: $color-white;
  cursor: default;
  padding: 0 5px;
  display: none;

  &.open {
    display: block;
  }
}
