@import '~app/mixins';

$color-border: #d6d6d6;

.wrap {
  padding: 25px;
  background: $color-white;
}

.wrapTitle {
  padding: 15px 25px;
}

.scrollTable {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 540px);
}

.title {
  color: $color-blue-dark;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  margin: 0;

  @include text-overflow;
}

.widgetInfo {
  display: flex;
  margin-top: 15px;
}

.right {
  padding-left: 15px;
  width: 100%;
}

.rowInfo {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  line-height: 26px;
}

.label,
.value {
  font-size: 12px;
  line-height: 18px;
}

.label {
  width: 100px;
  color: $color-blue-dark;
}

.value {
  max-width: 150px;
  color: $color-grey-1;

  @include text-overflow;
}

.imagePreview {
  width: 220px;
  min-height: 160px;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.apartment {
  margin: 20px 0;
  display: flex;

  .apartmentItem {
    padding: 0 5px;
    border-left: 2px solid $color-border;
    display: flex;

    &:first-child {
      border-left: none;
    }
  }

  .centered {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .apartmentValue,
  .apartmentCaption {
    color: $color-grey;
    text-align: center;
  }

  .apartmentValue {
    font-weight: 500;
    width: 100%;
    line-height: 22px;
  }

  .apartmentCaption {
    font-size: 12px;
  }
}

.tiles {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;

  .tile {
    background: $color-dirty-white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 80px;
    border-radius: 6px;

    .wrapper {
      text-align: center;

      .value {
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        color: $color-green;
        display: block;
        width: 100%;
        margin-bottom: 5px;
      }

      .title {
        font-size: 12px;
        color: $color-grey-1;
        display: block;
        width: 100%;
      }
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.divider {
  background: $color-border;
  border: none;
  margin: 0;
  width: 100%;
  height: 1px;
}

:global {
  .react-tabs {
    background: $color-dirty-white;

    .react-tabs__tab-list {
      display: flex;
      justify-content: space-between;
      padding: 10px 25px 0;
      margin-top: 0;
    }

    .react-tabs__tab-list li.react-tabs__tab {
      padding-bottom: 10px;
      margin: 0;
    }
  }
}

.spacedValue {
  margin-top: 10px;
}

.wideButton {
  width: 115px;
}
