@import '~app/mixins';

.header {
  display: flex;
  justify-content: space-between;
  margin-top: -13px;
  padding-bottom: 15px;
  height: 50px;
}

.headerTitle {
  color: $color-blue-dark;
  font-size: 16px;
  line-height: 18px;
  padding-top: 5px;

  @include text-overflow;
}

.tinyCaption {
  color: $color-grey-1;
  font-size: 13px;
  line-height: 18px;
  padding-top: 5px;
}

.map {
  margin: 30px auto 0;
  display: block;
  max-width: 100%;
  height: auto;
}
