@import '~app/variables';

.flowView {
  display: flex;
  flex-wrap: nowrap;
}

.iconNeutral {
  width: 16px;
  height: 4px;
}

.iconArrowUp,
.iconArrowDown {
  height: 23px;
  width: 26px;
}

.iconArrowUp use {
  fill: $color-green;
}

.iconArrowDown use {
  fill: $color-red;
}

.item {
  width: 100%;
}

.rate {
  border: 1px solid #d5d5d5;
  background-color: $color-white;
  height: 70px;
  margin: 0 -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.year {
  $size: 30px;

  height: $size;
  line-height: $size;
  margin-bottom: 15px;
  text-align: center;
}

.year,
.dotCaption {
  color: $color-grey-light;
  font-size: 12px;
}

.dots {
  display: flex;
  justify-content: center;
  padding: 0 0 20px;
}

.dotItem {
  display: flex;
  margin: 0 20px;
}

.dotCaption {
  padding-left: 15px;
}
