@import '~app/variables';

.content {
  height: 100%;
  overflow-y: auto;
}

.wrapper {
  background-color: $color-white;
  box-shadow: -1px 0 4px 0 rgba(0, 0, 0, 0.37);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.view {
  overflow-y: auto;
  flex: 1;
}

.container {
  padding-left: 10px;
}
