@import '~app/mixins';

$size: 26px;

.zoom {
  right: 15px;
  bottom: 7px;
  position: absolute;
  width: 28px;
}

.buttonZoom {
  background: none;
  background: $color-white;
  border: 1px solid $color-filter-border;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all $transition-delay;
  width: $size + 2;
  height: $size + 2;

  &.active:not([disabled]),
  &:hover:not([disabled]) {
    background: $color-light-blue;

    @include primary-border-color();
  }

  &[disabled] {
    background: lighten($color-grey, 45%);
    pointer-events: none;
  }

  .iconZoom {
    width: $size;
    height: $size;
  }
}
