@import '~app/variables';

.container {
  background-color: $color-dirty-white;
}

$border-color: #dfe1e4;
$label-color: #99a0aa;

.chartInfo {
  display: flex;

  .chart {
    width: 230px;
  }

  .statWraper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .statItem {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0 12px;

    .statItemValue {
      display: flex;
      align-items: center;
    }
  }

  .icon {
    width: 26px;
    margin-right: 10px;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .value {
    font-weight: 500;
    font-size: 14px;
    color: $color-grey;
  }

  .label {
    font-size: 12px;
    color: $label-color;
    line-height: 14px;
    padding-left: 7px;
  }

  .hr {
    margin: 0;
    border: 1px solid $border-color;
  }

  .arrow {
    width: 24px;
    height: 21px;

    use {
      fill: $color-green;
    }
  }

  .arrowDown {
    transform: rotate(180deg);

    use {
      fill: $color-red;
    }
  }
}
