@import "~app/mixins";

.popover {
  position: absolute;
  left: 0;
  top: 40px;
  border: 2px solid transparent;
  border-radius: 2px;
  background-color: $color-white;
  padding: 8px 8px 10px;
  box-shadow: $dropdown-shadow;
  display: none;

  @include primary-border-color();

  &:before,
  &:after {
    content: '';
    position: absolute;
  }

  &:before {
    left: 50%;
    margin-left: -4px;
    bottom: -4px;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background: $color-white;

    @include primary-color-box-shadow();
  }

  &:after {
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    width: 16px;
    height: 10px;
    background: $color-white;
  }

  &.open {
    display: block;
  }
}
