@import "~app/mixins";

.searchItem {
  height: 64px;
  width: 116px;
  border-radius: 4px;
  border-width: 0;
  background: $color-white;
  box-shadow: 0 1px 4px 0 rgba(140, 140, 140, 0.5);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  overflow: hidden;

  &[disabled] {
    background: $color-grey-lighter;
  }

  &:not([disabled]) {
    &.active,
    &:active {
      background: $color-alabaster;
      box-shadow: 0 0 0 1px #d8d8df;
    }

    &.active,
    &:focus {
      @include primary-color-box-shadow('1px', '4px');
    }

    &:hover {
      background: $color-light-blue;

      @include primary-color-box-shadow('1px');
    }

    .value {
      @include primary-color();
    }

    cursor: pointer;
  }

  > * {
    max-width: 100%;
  }

  > div {
    width: 100%;
  }

  .value {
    color: $color-grey;
    font-size: 28px;
    line-height: 34px;
  }
}

.label {
  color: #6b7581;
  font-size: 12px;
  line-height: 14px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loading {
  > div:first-child {
    > div {
      > div:first-child {
        height: 35px;

        svg {
          width: 40px;
          height: 35px;
        }
      }

      > div:last-child {
        display: none;
      }
    }
  }
}

//<div class="src-components-Loader-style__2X9Dw__loader">
//<div class="src-components-Loader-style__30K5k__wrapper">
//<div class="src-components-Loader-style__AzWJk__spinner">
//<svg class="icon-spinner">
//<use xlink:href="#spinner"></use></svg></div><div class="src-components-Loader-style__1imbs__text"><span>Loading</span></div></div></div>
//
