@import '~app/variables';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px 12px 8px;
  border: 1px solid #eee;
  background-color: $color-white;
  position: relative;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.caption {
  font-size: 16px;
  color: $color-blue-dark;
}

.selected {
  margin-left: 7px;
  font-size: 11px;
  font-style: italic;
  color: #6b7581;

  &Bottom {
    position: absolute;
    bottom: 1px;
    left: 4px;
  }
}

.selectedBottom {
  margin-left: 7px;
  font-size: 11px;
  font-style: italic;
  color: #6b7581;
  position: absolute;
  bottom: 2px;
  left: 4px;
}

.right {
  button {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.range {
  display: inline-block;
  color: $color-blue-dark;
  margin-left: 5px;

  div {
    display: inline-block;
    margin: 0 3px;
  }

  input {
    border-radius: 5px;
    border: 1px solid $color-grey-light;
    color: $color-grey-dark;
    width: 62px;
    margin: 0 2px;
    padding: 3px;
  }
}
