@import "./../../../app/mixins.scss";

.root:not(.toTop) {
  position: absolute;
  right: 0;
  top: 100%;
  width: 565px;
  margin-top: 15px;
  padding-bottom: 22px;
  border: 2px solid transparent;
  background-color: $color-white;
  box-shadow: $dropdown-shadow;
  text-align: left;
  cursor: default;

  @include primary-border-color();

  &.addRoot {
    position: absolute;
    margin-top: -110px;
    left: -375px;
    width: 447px;
    padding-bottom: 0;
    z-index: 2;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 58px;
    background-color: $color-dirty-white;
  }

  &:before {
    $size: 16px;

    width: $size;
    height: $size;
    margin-top: -$size/2;
    margin-right: -$size/2;
    border: 2px solid transparent;
    transform: rotate(45deg);

    @include primary-border-color();
  }

  &:after {
    $size: 30px;

    width: $size;
    margin-right: -$size/2;
    height: $size/2;
  }
}

.root.toTop {
  position: absolute;
  right: 0;
  top: 0;
  width: 565px;
  margin-bottom: 15px;
  padding-bottom: 22px;
  border: 2px solid transparent;
  background-color: $color-white;
  box-shadow: $dropdown-shadow;
  text-align: left;
  cursor: default;

  @include primary-border-color();

  &.addRoot {
    position: absolute;
    // margin-top: -110px;
    left: -375px;
    width: 447px;
    padding-bottom: 0;
    z-index: 2;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 58px;
    background-color: $color-dirty-white;
  }

  &:before {
    $size: 16px;

    width: $size;
    height: $size;
    margin-bottom: -$size/2;
    margin-right: -$size/2;
    border: 2px solid transparent;
    transform: rotate(-45deg);

    @include primary-border-color();
  }

  &:after {
    $size: 30px;

    width: $size;
    margin-right: -$size/2;
    height: $size/2;
  }
}

.header {
  padding: 13px 5px;
  font-size: 12px;
  line-height: 14px;
  color: $color-blue-darkest;
  text-align: center;
  background-color: $color-dirty-white;
}

.tableWrapper {
  overflow: auto;
  max-height: 470px;
}

.addHeader {
  padding: 12px 18px;
  background-color: $color-dirty-white;
  font-size: 16px;
  line-height: 18px;
  color: $color-blue-dark;
}

.dot {
  $size: 3px;

  display: inline-block;
  vertical-align: top;
  height: $size;
  width: $size;
  border-radius: 50%;
  background-color: $color-red-bright;
}

.plus {
  top: -2px;
  font-size: 16px;
  line-height: 21px;
}

.plus,
.tableBtn {
  color: $color-blue-light;
  cursor: pointer;
}

.addBody {
  padding: 20px;
  font-size: 12px;
  color: $color-grey-1;
}

.caption {
  margin-bottom: 5px;
  color: $color-blue-darkest;
}

.selectContainer {
  margin-top: 18px;
}

.buttonsContainer {
  margin-top: 22px;
  text-align: right;

  button {
    margin-left: 13px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.inlineButton {
  display: inline-block;
  border: 0;
  background: none;
}

.noWrap {
  white-space: nowrap;
}

.details {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 180px;
}
