.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
  margin-right: -5px;
  margin-left: -5px;
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }
}

.col,
.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6,
.col_7,
.col_8,
.col_9,
.col_10,
.col_11,
.col_12,
.col_offset_0,
.col_offset_1,
.col_offset_2,
.col_offset_3,
.col_offset_4,
.col_offset_5,
.col_offset_6,
.col_offset_7,
.col_offset_8,
.col_offset_9,
.col_offset_10,
.col_offset_11,
.col_offset_12 {
  flex: 0 0 auto;
  padding-right: 5px;
  padding-left: 5px;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col_1 {
  flex-basis: percentage(1/12);
  max-width: percentage(1/12);
}

.col_2 {
  flex-basis: percentage(1/6);
  max-width: percentage(1/6);
}

.col_3 {
  flex-basis: percentage(1/4);
  max-width: percentage(1/4);
}

.col_4 {
  flex-basis: percentage(1/3);
  max-width: percentage(1/3);
}

.col_5 {
  flex-basis: percentage(5/12);
  max-width: percentage(5/12);
}

.col_6 {
  flex-basis: percentage(1/2);
  max-width: percentage(1/2);
}

.col_7 {
  flex-basis: percentage(7/12);
  max-width: percentage(7/12);
}

.col_8 {
  flex-basis: percentage(2/3);
  max-width: percentage(2/3);
}

.col_9 {
  flex-basis: percentage(3/4);
  max-width: percentage(3/4);
}

.col_10 {
  flex-basis: percentage(5/6);
  max-width: percentage(5/6);
}

.col_11 {
  flex-basis: percentage(11/12);
  max-width: percentage(11/12);
}

.col_12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col_offset_0 {
  margin-left: 0;
}

.col_offset_1 {
  margin-left: percentage(1/12);
}

.col_offset_2 {
  margin-left: percentage(1/6);
}

.col_offset_3 {
  margin-left: percentage(1/4);
}

.col_offset_4 {
  margin-left: percentage(1/3);
}

.col_offset_5 {
  margin-left: percentage(5/12);
}

.col_offset_6 {
  margin-left: percentage(1/2);
}

.col_offset_7 {
  margin-left: percentage(7/12);
}

.col_offset_8 {
  margin-left: percentage(2/3);
}

.col_offset_9 {
  margin-left: percentage(3/4);
}

.col_offset_10 {
  margin-left: percentage(5/6);
}

.col_offset_11 {
  margin-left: percentage(11/12);
}

.top {
  align-items: flex-start;
}

.middle {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

.start {
  justify-content: flex-start;
  text-align: start;
}

.center {
  justify-content: center;
  text-align: center;
}

.end {
  justify-content: flex-end;
  text-align: end;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.shrink {
  flex: 0 0 auto;
  max-width: 100%;
}
