@import '~normalize.css/normalize',
  'variables';

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/helveticaneueltstd-bd-webfont.woff2') format('woff2'), url('../assets/fonts/helveticaneueltstd-bd-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/helveticaneueltstd-md-webfont.woff2') format('woff2'), url('../assets/fonts/helveticaneueltstd-md-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/helveticaneueltstd-roman-webfont.woff2') format('woff2'), url('../assets/fonts/helveticaneueltstd-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SignPainter';
  src:
    local('☺'),
    url('../assets/fonts/SignPainter-HouseScript.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'A Hundred Miles';
  src:
    local('☺'),
    url('../assets/fonts/A Hundred Miles.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FG Bonnie\'s font';
  src:
    local('☺'),
    url('../assets/fonts/FG Bonnies font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'You Wont Bring Me Down';
  src:
    local('☺'),
    url('../assets/fonts/You Wont Bring Me Down.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Michele Hand 7';
  src:
    local('☺'),
    url('../assets/fonts/Michele Hand 7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src:
    local('☺'),
    url('../assets/fonts/AvenirNext-Medium.woff') format('woff'),
    url('../assets/fonts/AvenirNext-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ctorres';
  src:
    local('☺'),
    url('../assets/fonts/ctoress.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Givens';
  src:
    local('☺'),
    url('../assets/fonts/Givens.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Levy';
  src:
    local('☺'),
    url('../assets/fonts/Levy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lindy';
  src:
    local('☺'),
    url('../assets/fonts/Lindy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lindy Bold';
  src:
    local('☺'),
    url('../assets/fonts/Lindy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Your Font';
  src:
    local('☺'),
    url('../assets/fonts/Your Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  a {
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  a[role="button"] {
    &:active,
    &:focus,
    &:hover {
      text-decoration: inherit;
    }
  }
}

:global {
  .bodyModal {
    overflow: hidden;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: $font-helvetica-neue;
  min-width: 1366px;
  min-height: 768px;
  position: relative;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
optgroup,
button,
textarea,
select,
a {
  outline: none;
  user-select: none;
  font-family: $font-helvetica-neue;
}

input::-ms-clear {
  display: none;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:global {
  .react-datepicker {
    height: 270px;

    &__tether-element {
      height: 270px;
    }
  }
}

.fullHeight {
  height: 100vh;
}

.flex {
  display: flex;
}

.vFlex {
  display: flex;
  flex-flow: column;
}

.vrFlex {
  display: flex;
  flex-flow: column-reverse;
}

.rFlex {
  display: flex;
  flex-flow: row-reverse;
}
