@import '~app/mixins';

.buttonSatellite {
  position: absolute;
  right: 55px;
  bottom: 10px;
  background: $color-white;
  border: 1px solid $color-filter-border;
  width: 90px;
  height: 28px;
  padding: 5px;
  display: flex;
  align-items: center;
  transition: all $transition-delay;
  border-radius: 100px;
  cursor: pointer;

  &.active:not([disabled]),
  &:hover:not([disabled]) {
    background: $color-light-blue;

    @include primary-border-color();
  }

  &[disabled] {
    background: lighten($color-grey, 45%);
    pointer-events: none;
  }
}

.iconSatellite {
  $size: 18px;

  width: $size;
  height: $size;
  display: inline;
  position: absolute;
  left: 6px;
  top: 4px;
}

.satelliteText {
  color: $color-grey;
  font-size: 12px;
  line-height: 14px;
  padding: 0 3px 0 22px;
  vertical-align: baseline;
}
