@import "./../../app/variables.scss";

.label {
  color: $color-blue-darkest;
  font-size: 12px;
  line-height: 22px;
}

.value {
  color: $color-grey-1;
  font-size: 12px;
  line-height: 18px;
  white-space: pre-wrap;
}
