@import '~app/variables';

$border-color: #dfe1e4;

.container {
  background-color: $color-dirty-white;

  .exportButton {
    cursor: pointer;
    color: $color-grey;
    position: absolute;
    right: 0;
    top: 3px;
  }

  .iconExport {
    use {
      fill: $color-grey;
    }

    width: 22px;
    height: 21px;
  }
}

.rowWrapper {
  border-top: 0;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  position: relative;

  &:first-child {
    border-bottom: 2px solid $border-color;
    border-left: 2px solid $border-color;
    border-right: 2px solid $border-color;
  }
}

.item {
  border: 1px solid $border-color;
  border-top: 0;
  border-bottom-width: 2px;
  flex: auto;
  padding: 14px 15px;
  min-width: percentage(1 / 3);

  &:first-child {
    border-left-width: 2px;
  }

  &:last-child {
    border-right-width: 2px;
  }
}

.rowWrapper:last-child .item {
  border-bottom: 0;
}

.longTrend {
  flex-basis: percentage(2 / 3);
}

.disclaimer {
  padding: 9px 15px 15px;
  font-size: 10px;
}
