@import '~app/variables';

.buttonsGroup {
  text-align: center;
  display: flex;
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-right: -10px;

  .buttonGroup {
    $regular-color: #66707d;

    flex: 1;
    padding: 5px;
    border: 1px solid $color-grey;
    border-top: none;
    background: $color-white;
    min-width: 40px;
    text-align: center;
    cursor: pointer;
    transition: all $transition-delay;

    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }

    .label {
      color: $regular-color;
    }

    .iconDollar use,
    .iconHouse use,
    .iconSmallChart use,
    .iconGrowth use {
      fill: $regular-color;
    }

    &.active,
    &:hover {
      background: $color-blue-light;

      .label {
        color: $color-white;
      }

      .iconDollar use,
      .iconHouse use,
      .iconSmallChart use,
      .iconGrowth use {
        fill: $color-white;
      }
    }
  }

  .buttonGroup + .buttonGroup {
    margin-left: -1px;
  }
}

.iconDollar {
  width: 9px;
  height: 14px;
}

.iconHouse {
  width: 14px;
  height: 14px;
}

.iconSmallChart {
  width: 14px;
  height: 14px;
}

.iconGrowth {
  width: 20px;
  height: 14px;
}

.label {
  font-size: 9px;
  text-align: center;
}
