@import "../../app/variables";

:global {
  @import "~react-image-gallery/styles/css/image-gallery-no-icon";
}

.gallery {
  width: 935px;
  margin: 40px auto 0;
}

:global {
  $radius: 5px;
  $colorArrow: #d8d8d8;
  $offset: 2px;

  .image-gallery {
    height: 100%;
  }

  .image-gallery-content {
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
  }

  .image-gallery-slide-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-gallery-slide img {
    max-height: calc(100vh - 370px);
    max-width: 100%;
    width: inherit;
    display: block;
    margin: 0 auto;
    border-radius: $radius;
    object-fit: cover;
  }

  .image-gallery-left-nav,
  .image-gallery-right-nav {
    top: inherit;
    padding: 0;
    bottom: -124px;
    transform: none;
    width: 0;
    height: 0;
    border-top: 62px solid transparent;
    border-bottom: 62px solid transparent;
    transition: border $transition-delay;

    &:before {
      display: none;
    }
  }

  .image-gallery-thumbnails .image-gallery-thumbnails-container {
    margin: 0 -$offset;
  }

  .image-gallery-left-nav {
    border-right: 26px solid $colorArrow;
    left: -35px;

    &:hover {
      border-right-color: $color-grey-light;
    }
  }

  .image-gallery-right-nav {
    border-left: 26px solid $colorArrow;
    right: -35px;

    &:hover {
      border-left-color: $color-grey-light;
    }
  }

  .image-gallery-slides {
    border-radius: $radius;
  }

  .image-gallery-thumbnail {
    width: 155px;
    transition: none;
  }

  .image-gallery-thumbnail.active {
    border-color: transparent;
    position: relative;
    max-width: 100%;
  }

  .image-gallery-thumbnail.active:before {
    content: '';
    position: absolute;
    top: $offset;
    bottom: $offset;
    left: $offset;
    right: $offset;
    box-shadow: 0 0 0 $offset $color-grey;
    border-radius: $radius;
  }

  .image-gallery-thumbnail img {
    border-radius: $radius;
    box-shadow: 0 0 0 $offset transparent;
  }
}
