@import '~app/mixins';

.dropdownLegend {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.dropdownButton {
  background: $color-white;
  border: 1px solid $color-filter-border;
  min-width: 110px;
  height: 28px;
  padding: 5px 30px 5px 5px;
  display: flex;
  align-items: center;
  transition: all $transition-delay;
  border-radius: 100px;
  cursor: pointer;

  &.active:not([disabled]),
  &:hover:not([disabled]) {
    background: $color-light-blue;

    @include primary-border-color();
  }

  &[disabled] {
    background: lighten($color-grey, 45%);
    pointer-events: none;
  }
}

.iconLegend {
  width: 16px;
  height: 16px;
  display: inline;
  position: absolute;
  left: 8px;
  top: 6px;
}

.legendText {
  color: $color-grey;
  font-size: 12px;
  line-height: 14px;
  padding: 0 3px 0 22px;
  vertical-align: baseline;
}

.iconCaretUp {
  width: 16px;
  height: 8px;
  position: absolute;
  top: 8px;
  right: 7px;
}

.dropdown {
  position: absolute;
  left: 0;
  bottom: 40px;
  max-height: 360px;
  width: 160px;
  border: 1px solid $color-grey;
  opacity: 0.85;
  border-radius: 4px;
  background-color: $color-white;
  cursor: default;
  padding: 0 5px;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;

  &.open {
    display: block;
  }
}

.legendItem {
  color: $color-grey;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  padding: 5px 0;

  .dot {
    margin-right: 10px;
  }
}
