.import {
  &Button {
    position: relative;
    overflow: hidden;
    width: 133px;
    margin-top: 20px;
  }

  &Label {
    $size: 100%;

    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: $size;
    width: $size;
    cursor: pointer;
  }

  &Input {
    display: none;
  }
}
