@import "~app/mixins";

.saveSearch {
  position: relative;
}

.iconCaretDown {
  width: 12px;
  height: 9px;
  position: absolute;
  top: 14px;
  right: 9px;
}

.dropdown {
  $sizeArrow: 5px;

  position: absolute;
  margin-top: 5px;
  right: 0;
  width: 445px;
  border: 2px solid transparent;
  background: $color-white;
  box-shadow: $dropdown-shadow;
  border-radius: 2px;
  display: none;
  z-index: 1;

  @include primary-border-color();

  &:before,
  &:after {
    content: '';
    position: absolute;
    background: $color-dirty-white;
  }

  &:before {
    right: 40px;
    top: -3px;
    width: $sizeArrow;
    height: $sizeArrow;
    transform: rotate(45deg);

    @include primary-color-box-shadow();
  }

  &:after {
    height: $sizeArrow+2;
    top: 0;
    width: 15px;
    right: 35px;
  }

  &.open {
    display: block;
  }

  .dropdownTitle {
    padding: 15px;
    background: $color-dirty-white;
    height: 45px;
    color: $color-blue-dark;
    font-size: 16px;
    line-height: 18px;
  }

  .dropdownBody {
    padding: 15px;
  }
}

.flexInclude {
  display: flex;

  > span {
    margin-left: 5px;
  }
}

.inlineRadio {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.row {
  margin-top: 5px;
  margin-bottom: 20px;
}

.buttons {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 10px;
  }
}

.disabled {
  *,
  input,
  & {
    cursor: not-allowed;
    color: $color-grey;
  }
}
