@import "./../../app/mixins.scss";

.homeFilter {
  position: relative;
}

.filter {
  height: 36px;
  min-width: 300px;
  border: 1px solid $color-filter-border;
  border-radius: 4px;
  background: $color-white;
  padding: 6px 35px 6px 12px;
  transition: all $transition-delay;
  color: $color-grey;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:focus {
    background: $color-white;

    @include primary-color-box-shadow-inset();
  }

  .value {
    @include text-overflow;
  }
}

.iconCaretDown {
  width: 12px;
  height: 9px;
  position: absolute;
  top: 14px;
  right: 9px;
}

.dropdown {
  $sizeArrow: 5px;

  position: absolute;
  margin-top: 5px;
  left: 0;
  width: 100%;
  border: 2px solid transparent;
  background: $color-white;
  box-shadow: $dropdown-shadow;
  border-radius: 2px;
  padding: 8px 8px 20px;
  display: none;
  z-index: 2;

  @include primary-border-color();

  &:before,
  &:after {
    content: '';
    position: absolute;
  }

  &:before {
    right: 40px;
    top: -3px;
    width: $sizeArrow;
    height: $sizeArrow;
    transform: rotate(45deg);
    background: $color-white;

    @include primary-color-box-shadow();
  }

  &:after {
    height: $sizeArrow+2;
    top: 0;
    width: 15px;
    right: 35px;
    background: $color-white;
  }

  &.open {
    display: block;
  }
}

.rowRange {
  margin-top: 26px;
}

.rowRadio {
  margin-top: 20px;
}

.range {
  display: flex;
  align-items: center;
  width: 100%;

  .divider {
    align-self: flex-end;
    color: $color-grey-1;
    font-size: 12px;
    line-height: 18px;
    padding: 0 10px 4px;
  }
}

.dropdownPrice {
  width: 100%;
}

.input {
  height: 26px;
  width: 100%;
  border: 1px solid $color-grey;
  color: #9d9d9d;
  border-radius: 4px;
  background: $color-white;
  padding: 6px;
  outline: 0;
  font-size: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.label {
  color: $color-grey-1;
  display: block;
  margin-bottom: 5px;
}
