@import '~app/mixins';

$width: 160px;

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.radio {
  display: flex;
  margin: 35px 0 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.itemRadio {
  width: $width;
  margin-bottom: 25px;
  position: relative;

  &.selected {
    .frame {
      @include primary-color-box-shadow();
    }
  }

  input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
  }
}

.frame {
  width: 100%;

  img {
    display: block;
    max-width: $width;
  }
}

.radioTemplate {
  width: $width;
  background: $color-silver;
  position: relative;
  cursor: pointer;
  margin: 0 10px;

  &:after {
    content: '';
    position: absolute;
  }
}

.caption {
  color: $color-grey;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  margin-top: 10px;
}

