@import '~app/variables';

.root {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-dirty-white;
  text-align: center;
}

.inner {
  width: 400px;
}
