@import '~app/variables';

.container {
  padding: 9px 15px 15px;
  display: flex;
  flex-direction: column;
}

.items {
  flex: 1;
  display: flex;
}

.item {
  padding: 27px 28px 17px;

  &:first-child {
    padding-left: 5px;
  }

  &:last-child {
    padding-right: 5px;
  }
}

.header {
  color: $color-blue-darkest;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  width: auto;

  select {
    color: $color-blue-medium;
    font-size: 12px;
    background: transparent;
    border: 0;
    width: auto;
  }
}
