@import "./../../../app/variables.scss";

.radioGroup {
  display: flex;
  align-items: center;
}

.radioItem {
  height: 38px;
  width: 51px;
  border: 1px solid $color-grey;
  border-left: none;
  color: $color-grey;
  font-size: 14px;
  line-height: 17px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  user-select: none;
  cursor: pointer;

  &:first-child {
    border-radius: 4px 0 0 4px;
    border-left: 1px solid $color-grey;
    min-width: 75px;
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
  }

  &.active {
    background: $color-grey;
    color: $color-white;
  }

  &.small {
    height: 24px;
    padding: 0 10px;

    &:first-child {
      min-width: 40px;
      width: auto;
      flex: 0 1 auto;
    }
  }
}

.radioInput {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
