@import '~app/mixins';

.root {
  position: relative;
  display: flex;
  margin-top: -1px;
  padding: 15px 15px 15px 8px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: $color-white;
  color: $color-grey;
  font-size: 12px;

  &:first-child {
    margin-top: 0;
  }
}

.rootChecked {
  z-index: 1;
  outline-offset: -1px;
  background-color: $color-light-blue;

  @include primary-color-outline();
}

.checkboxContainer {
  flex-grow: 0;
  width: 20px;
  margin-top: -3px;

  label {
    display: block;
  }
}

.index {
  cursor: pointer;
  flex-grow: 0;
  width: 30px;
  line-height: 15px;
  text-align: center;
}

.mask {
  cursor: pointer;
  position: relative;
  width: 120px;
  height: 80px;
  overflow: hidden;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}

.checkboxContainer,
.index,
.mask {
  flex-shrink: 0;
}

.dot {
  $position: 7px;
  $size: 13px;

  position: absolute;
  top: $position;
  right: $position;
  height: $size;
  width: $size;
  border: 1px solid $color-white;
}

.info {
  cursor: pointer;
  flex-grow: 1;
  margin-left: 13px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
}

.header {
  line-height: 17px;
}

.name {
  cursor: pointer;
  margin-bottom: 3px;
  color: $color-blue-light;
  font-size: 14px;
  font-weight: 500;
}

.right {
  text-align: right;

  span {
    padding-left: 10px;

    &:first-child {
      padding-left: 0;
    }
  }
}

.option,
.type {
  white-space: nowrap;
}

.option {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}

.type {
  margin-bottom: 3px;
  padding-right: 7px;
  color: $color-grey-1;
}

.footer {
  margin: 14px -10px 0 -10px;
  color: $color-grey-light;

  .item {
    padding: 0 10px;

    &:first-child {
      text-align: left;
      flex: 1 0 0;
    }

    &:last-child {
      text-align: right;
      flex: 1 0 0;
    }
  }

  .title {
    white-space: nowrap;
    display: block;
  }

  .value {
    font-size: 14px;
    font-weight: bold;
    display: block;
  }
}

.value {
  color: $color-grey-1;
}

.date {
  text-align: right;
}

.bigCounter {
  .checkboxContainer {
    width: 20px;
  }

  .index {
    width: 40px;
  }

  .mask {
    width: 115px;
  }
}
