@import '~app/variables';

$colorBorder: #ccc;
$shadow: inset 0 1px 0 0 #ececec;

.root {
  padding-left: 50px;
}

.inner {
  padding: 35px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.caption {
  font-size: 24px;
  line-height: 32px;
  color: $color-blue-dark;
}

.button {
  min-width: 144px;
  margin-left: 14px;
  font-weight: 400;
}

.section {
  display: flex;
  margin-top: 30px;
  padding: 22px 40px 30px;
  border: 2px solid $colorBorder;
  border-radius: 6px;
  font-size: 14px;

  &Inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 24px;

    &:first-child {
      margin-top: 0;
    }
  }

  &Part {
    margin-left: 25px;

    &:first-child {
      margin-left: 0;
    }
  }

  &Caption {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: $color-grey;
  }

  &Left {
    flex: 1 0 0;
  }

  &Right {
    flex: 1 0 0;
  }
}

.input {
  display: block;
  width: 339px;
  max-width: 339px;
  height: 50px;
  padding: 16px 9px;
  border: 1px solid $colorBorder;
  border-radius: 5px;
  box-shadow: $shadow;
  font-size: 14px;

  &Hidden {
    display: none;
  }

  &Medium {
    max-width: 72px;
    text-align: center;
  }

  &Small {
    display: inline-block;
    vertical-align: top;
    max-width: 57px;
    margin-right: 13px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }

  &StreetAddress {
    width: 450px;
    max-width: none;
  }

  &City {
    width: 170px;
  }

  &State {
    width: 160px;
  }
}

.fieldBlock {
  margin-bottom: 20px;
}

.passwordContainer {
  width: 339px;
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.currentPassword {
  min-width: 80px;
  margin-right: 20px;
}

.control {
  line-height: 18px;
  cursor: pointer;
  color: $color-blue-medium;
}

.import {
  margin-top: 0;
}

.avatar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &Img {
    $size: 72px;

    width: $size;
    height: $size;
    overflow: hidden;
    margin-right: 20px;
    border: 1px solid $colorBorder;
    border-radius: 50%;
    box-shadow: $shadow;

    img {
      width: 100%;
    }
  }

  &Inner {
    width: 83px;
    margin-right: 20px;
  }

  &Name {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 18px;
    color: $color-grey-1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.dropdown {
  select {
    color: #000;
    width: 72px;
    height: 50px;
    padding-left: 16px;
    border: 1px solid $colorBorder;
    border-radius: 5px;
  }

  &State {
    select {
      width: 160px;
    }
  }

  &Country {
    display: inline-block;
    width: auto;

    select {
      width: 170px;
    }
  }

  &CardExpiration {
    display: inline-block;
    margin-right: 10px;
    width: auto;
  }
}
