@import '~app/variables';

.buttonsGroup {
  text-align: center;

  .buttonGroup {
    border: 1px solid $color-grey;
    border-top: none;
    background: $color-white;
    min-width: 40px;
    text-align: center;
    cursor: pointer;
    transition: all $transition-delay;
    padding-top: 3px;

    &:first-child {
      border-radius: 0 0 4px;
    }

    &:last-child {
      border-radius: 0 0 4px;
    }

    &.active,
    &:hover {
      background: $color-blue-light;

      .iconDollar,
      .iconGraduation use,
      .iconUserGroup use,
      .iconWarning use {
        fill: $color-white;
      }
    }
  }

  .buttonGroup + .buttonGroup {
    margin-left: -1px;
  }
}

.iconDollar {
  width: 9px;
  height: 14px;
}

.iconGraduation {
  width: 22px;
  height: 14px;
}

.iconUserGroup {
  width: 22px;
  height: 14px;
}

.iconWarning {
  width: 17px;
  height: 14px;
}
