@import '~app/mixins';

$color-border: #bcbcbc;
$color-file-name: #4a4a4a;

.fileContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.fileName {
  max-width: 95px;
  font-size: 14px;
  color: $color-file-name;

  @include text-overflow();
}

.brandingImage {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.browseLogo {
  margin-top: 0;
  min-width: 0;
  width: 80px;
}
